@using MedRecPro.Models
@using MedRecPro.Helpers
@inherits RazorLight.TemplatePage<MedRecPro.Models.SectionDto>
@model SectionDto

<section ID="@Model.SectionLinkGUID">
    <id root="@Model.SectionGUID" />
    <code code="@Model.SectionCode" codeSystem="@Model.SectionCodeSystem" Title="@Model.SectionDisplayName" />
    <title mediaType="text/x-hl7-title+xml">@Model.Title</title>


    @*  @if (Model != null && Model.TextContents.Any())
    {
        await IncludeAsync("_TextContent", Model.TextContents);
    }

    <effectiveTime value="@Model.EffectiveTime" />

    @if (Model.Products.Any())
    {
        foreach (var product in Model.Products)
        {
            foreach (var packaging in product.PackagingLevels)
            {
                <subject>
                    @{
                        await IncludeAsync("_Product", packaging);
                    }
                </subject>
            }
        }
    }*@

    @foreach (var childHierarchy in Model.ChildSectionHierarchies.OrderBy(h => h.SequenceNumber))
    {
        if (childHierarchy != null
        && Model.StructuredBody != null
        && Model.StructuredBody.Sections != null
        && Model.StructuredBody.Section.Any())
        {
            var childSection = Model?.StructuredBody?.Sections.FirstOrDefault(s => s.SectionID == childHierarchy.ChildSectionID);
            if (childSection != null)
            {
                <component>
                    @{
                        await IncludeAsync("_Section", childSection);
                    }
                </component>
            }
        }
    }

    @foreach (var media in Model.ObservationMedia)
    {
        await IncludeAsync("_ObservationMedia", media);
    }
</section>