@using MedRecPro.Models
@using MedRecPro.Helpers
@inherits RazorLight.TemplatePage<MedRecPro.Models.SectionDto>
@model SectionDto

@if (Model != null)
{
    <section ID="@Model.SectionLinkGUID">
        <id root="@Model.SectionGUID" />

        @if (Model.SectionCode != null
            && Model.SectionCodeSystem != null
            && Model.SectionDisplayName != null)
        {
            <code code="@Model.SectionCode" codeSystem="@Model.SectionCodeSystem" Title="@Model.SectionDisplayName" />
        }

        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <title mediaType="text/x-hl7-title+xml">@Model.Title</title>
        }

        @if (Model.TextContents != null && Model.TextContents.Any())
        {
            await IncludeAsync("_TextContent", Model.TextContents);
        }

        @if (Model.EffectiveTime != null)
        {
            <effectiveTime value="@SplTemplateHelpers.ToSplDate(Model.EffectiveTime)" />
        }

        @if (Model.Products != null && Model.Products.Any())
        {
            foreach (var product in Model.Products)
            {
                <subject>
                    @{
                        await IncludeAsync("_Product", product);
                    }
                </subject>
            }
        }

        @if (Model.ChildSectionHierarchies != null && Model.ChildSectionHierarchies.Any())
        {
            foreach (var childHierarchy in Model.ChildSectionHierarchies.OrderBy(h => h.SequenceNumber))
            {
                if (childHierarchy != null
                && Model.StructuredBody != null
                && Model.StructuredBody.Sections != null
                && Model.StructuredBody.Sections.Any())
                {
                    var childSection = Model?.StructuredBody?.Sections
                    ?.FirstOrDefault(s => s.SectionID == childHierarchy.ChildSectionID);
                    if (childSection != null)
                    {
                        <component>
                            @{
                                await IncludeAsync("_Section", childSection);
                            }
                        </component>
                    }
                }
            }
        }

        @if (Model.ObservationMedia != null && Model.ObservationMedia.Any())
        {
            foreach (var media in Model.ObservationMedia)
            {
                await IncludeAsync("_ObservationMedia", media);
            }
        }
    </section>
}