@using MedRecPro.Models;
@using RazorLight.Razor;
@using MedRecPro.Helpers;
@inherits RazorLight.TemplatePage<MedRecPro.Models.TextTableRowDto>;
@model TextTableRowDto;

@if (Model != null)
{
    @* Opening tr tag with conditional styleCode attribute *@
    <tr @SplTemplateHelpers.Attribute("styleCode", Model.StyleCode)>
        @foreach (var cell in Model.TextTableCells.OrderBy(c => c.SequenceNumber))
        {
            var cellType = cell.CellType ?? "td";
            @if (cellType.Equals("th", StringComparison.OrdinalIgnoreCase))
            {
                @* Table header cell with all conditional attributes *@
                <th @SplTemplateHelpers.Attribute("styleCode", cell.StyleCode) @SplTemplateHelpers.Attribute("align", cell.Align) @SplTemplateHelpers.Attribute("valign", cell.VAlign) @SplTemplateHelpers.Attribute("colspan", cell.ColSpan) @SplTemplateHelpers.Attribute("rowspan", cell.RowSpan)>@Raw(cell.CellText?.Trim() ?? "")</th>
            }
            else
            {
                @* Table data cell with all conditional attributes *@
                <td @SplTemplateHelpers.Attribute("styleCode", cell.StyleCode) @SplTemplateHelpers.Attribute("align", cell.Align) @SplTemplateHelpers.Attribute("valign", cell.VAlign) @SplTemplateHelpers.Attribute("colspan", cell.ColSpan) @SplTemplateHelpers.Attribute("rowspan", cell.RowSpan)>
                    @Raw(cell.CellText?.Trim() ?? "")
                </td>
            }
        }
    </tr>
}