@using MedRecPro.Models
@using RazorLight.Razor
@using MedRecPro.Helpers
@inherits RazorLight.TemplatePage<MedRecPro.Models.TextTableRowDto>
@model TextTableRowDto

@if (Model != null)
{
    <tr id="@Model.TextTableRowID" style-code="@Model.StyleCode">
        @foreach (var cell in Model.TextTableCells.OrderBy(c => c.SequenceNumber))
        {
            var cellType = cell.CellType ?? "td";
            if (cellType.Equals("th", StringComparison.OrdinalIgnoreCase))
            {
                <th align="@cell.Align"
                    valign="@cell.VAlign"
                    colspan="@cell.ColSpan"
                    rowspan="@cell.RowSpan"
                    style-code="@cell.StyleCode">
                    @Raw(cell.CellText ?? "")
                </th>
            }
            else
            {
                <td align="@cell.Align"
                    valign="@cell.VAlign"
                    colspan="@cell.ColSpan"
                    rowspan="@cell.RowSpan"
                    style-code="@cell.StyleCode">
                    @Raw(cell.CellText ?? "")
                </td>
            }
        }
    </tr>
}